/* CSS designed for Dlink by TBS group */
body { font:12px Tahoma,Helvetica,Geneva,Arial,sans-serif; margin:0px auto; width:840px; background:#757575; visibility:hidden;}
ul { margin:0px; padding:0px; list-style-type:none;}
a { text-decoration:none;}
p { margin:0px; padding:0px;}
/* header */
.header { padding:1px; background:white;}
	.title { padding:5px 6px 3px; height:20px; background:#404343; color:white;}
		.product { float:left; }
		.firmware { float:right;}
		.logo { margin:6px 0; background:white;}	
/* main menu */
.main_menu { padding:0px 1px; height:26px; background:white; border-bottom:1px solid #404343;}
	.model { float:left;}
		.model img { border-top:1px solid black; border-left:1px solid black; border-right:1px solid black;}
	.main_menu li { margin:0px 2px; float:left; height:25px; border-top:1px solid black; border-left:1px solid black; border-right:1px solid black;}
	.main_menu li a { padding:6px 0px 5px; width:135px; display:block; font-weight:bold; text-align:center; background:#404343; color:white; text-transform:uppercase;}
	.main_menu li a:hover { background:#F1F1F1; color:black;}
	#on { background:#F1F1F1; color:black;}
/* content */
#Content { margin:0px; border:1px solid #B1D3EC; width:100%; background:#fff; float:right;}
.content { background:#F1F1F1; width:840px; border-collapse:collapse; display:block; border:1px solid white; border-top:1px solid #F1F1F1;}
.content td { padding:0px; vertical-align:top;}
	/* sub menu */
	.td_menu { background:#404343; height:400px;}
	.sub_menu { width:131px; background:#404343;}
		.sub_menu p { border-bottom:1px solid white;}
		.sub_menu p a { padding:6px 0px 6px 6px; color:#F1F1F1; display:block; border:1px solid #404343;}
		.sub_menu p a:hover { text-decoration:underline;}
		#up { border:1px solid black; background:#F1F1F1; color:black;}
		/* third menu */
		ul.thirdMenu { border:1px solid black; display:none;}
		.thirdMenu li { margin:0px; padding:0px;}
		.thirdMenu li a { padding:6px 0px 6px 6px; width:130px; display:block; border-bottom:1px solid white; background:#404343; color:white;}
		.thirdMenu li a:hover { text-decoration:underline;}
	/* 1:<td> -> config1 */
	.config1 { padding:8px; width:691px; border:0px solid red;}
	/* 2:<td> -> config2 */
	.config2 { padding:8px; width:691px; border:0px solid red;}
		/* about p/div */
		.bk_orange { padding:5px 10px; font-weight:bold; background:#404343; color:#F1F1F1; text-transform:uppercase;}
		.div_orange { padding:10px; border-left:1px solid #404343; border-right:1px solid #404343; border-bottom:1px solid #404343; line-height:16px; background:#DFDFDF;}
			.div_orange p { padding-bottom:10px;}
		.bk_black { padding:5px 10px; font-weight:bold; background:#404343; color:#F1F1F1; text-transform:uppercase;}
		.div_black { padding:10px; border-left:1px solid #404343; border-right:1px solid #404343; border-bottom:1px solid #404343; line-height:16px; background:white;}
			.div_black p { padding-bottom:10px;}
			.div_left { padding:3px 4px 4px 0px; float:left; font-weight:bold; width:180px; text-align:right;}
			.div_right { height:27px;}
		.div_button { margin:10px 0px; text-align:center;}
		.do { margin-top:8px;}
		/* about talbe: short & long */
		.td_table_s { border-collapse:separate; width:655px; background:#DFDFDF;}
			.td_table_s td { border:1px solid white; text-align:center;}
		.td_table_l { border-collapse:separate; width:669px; background:#DFDFDF;}
			.td_table_l td { border:1px solid white; text-align:center;}
		.td_table { margin-left:50px ; padding:0px; border:0px solid #aaa; border-collapse:collapse; border-spacing:0px; font-size:14px;}	
		.tr_bold { font-weight:bold;}
	/* 2:<td> -> help */
	.td_help { background:#404343; display:none;}
	.help { width:133px; color:#F1F1F1; font-size:11px;}
		.help h5 { margin:5px; display:block; font-size:11px;}
			.help h5 a { color:#E29861;}
		.help p { margin:15px 5px;}
		.help b { color:#6CA9D5;}
		
.help_table ul{
	font-size: 11px; list-style-type: disc; padding-left:40px
}
.help_table li{
	font-size: 11px;
}
.help_table dt{
	font-size: 11px; font-weight:bold; 
}
.help_table a{
	 text-decoration:underline;
}
.help_example dl {
	border-right: gray 1px solid; padding-right: 0px; border-top: gray 1px solid; padding-left: 4px; padding-bottom: 0px; border-left: gray 1px solid; padding-top: 0px;border-bottom: gray 1px solid; background-color: #dfdfdf
}
SPAN.button_ref {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; MARGIN: 0px 2px; COLOR: #111111; LINE-HEIGHT: 12px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #99ccee
}
/* footer */
.footer { background:#404343; border-left:1px solid white; border-right:1px solid white;}
/* copyright */
p#copyright { color:#F1F1F1; text-align:center; font-size:11px; margin:10px;}
